      <footer>
        <hr/>
        <div class="notice">
          <p>
          <strong>This site is open source does not track you in any way.</strong> You're welcome to explore.
          </p>
          <p>
          <b>PGP</b> 91 73 0B 7D B2 EA 84 1C&nbsp;
          <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;hq@mtod.org&nbsp;
          &copy; All content is <a href="http://www.wtfpl.net/">WTFPL</a> unless stated otherwise.</p>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
