{{ $baseurl := .Site.BaseURL }}
{{ partial "header_micro.html" . }}
<div class="row">
  <div class="twelve columns">
    <ul class="posts micro">
      {{ range (.Paginate (.Pages.ByParam "timestamp").Reverse).Pages }}
      <li class="index">
        <div class="index-date">
          <a href="{{ .Permalink }}">#{{ .Params.timestamp }}</a>
        </div>
        <br/>
        <blockquote>{{ .Content }}</blockquote>
      </li>
      {{ end }}
    </ul>
  </div>
  <div class="twelve columns">
    {{ template "_internal/pagination.html" . }}
  </div>
</div>
{{ partial "footer.html" . }}
